<!DOCTYPE html>
<html>
    <head>
        <title>個人申請一階查詢</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div style="margin: 10px; display: none; min-height: 92.5vh" id="app">
            <transition name="fade" mode="out-in">
                <div
                    v-if="loading"
                    key="loading"
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: calc(100vh - 20px);
                    "
                >
                    <p style="font-size: 24px">載入中 {{ loading_progress }}%</p>
                </div>
                <div v-else key="loaded">
                    <transition name="fade">
                        <div
                            v-show="false && back && back.length"
                            style="
                                position: fixed;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 100;
                                top: 10px;
                                right: 10px;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                background-color: #ffffffbb;
                                box-shadow: 1px 1px 4px 0px #000000aa;
                                font-size: 32px;
                                cursor: pointer;
                            "
                            @click="go_back()"
                        >
                            ❮
                        </div>
                    </transition>
                    <transition name="fade" mode="out-in">
                        <div v-if="mode=='department'" key="department">
                            <select
                                class="form-control"
                                style="margin: 4px 0"
                                v-model="department_college"
                                @change="department_department = Object.keys(departments[department_college])[0]"
                            >
                                <option v-for="opt in colleges" :value="opt">{{ opt }}</option>
                            </select>
                            <select class="form-control" style="margin: 4px 0" v-model="department_department">
                                <option v-for="opt in college_departments" :value="opt">{{ opt }}</option>
                            </select>
                            <div v-for="cdt in departments[department_college][department_department].candidate">
                                <div style="margin: 6px 3px" @click="candidate_mode(cdt)">{{ cdt }}</div>
                            </div>
                        </div>
                        <div v-else key="candidate">
                            <small style="bottom: -3px">學測應試號碼</small>
                            <input type="number" v-model="candidate" />
                            <div v-for="dpt in candidates[candidate]">
                                <div style="margin: 6px 3px" @click="department_mode(dpt.college, dpt.department)">
                                    <small style="bottom: -3px"> {{ dpt.college }} </small> <br />
                                    <span> {{ dpt.department.replace("（", "(").replace("）", ")") }} </span>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </transition>
        </div>
        <div style="text-align: center">
            Made with
            <span style="color: #e25555">&hearts;</span> by
            <a href="https://github.com/JacobLinCool" target="_blank">JacobLinCool</a>
        </div>
        <script>
            let params = new URL(document.location).searchParams;
            init_app();

            async function init_app() {
                window.app = new Vue({
                    el: "#app",
                    data() {
                        return {
                            loading: true,
                            loading_progress: 0,
                            mode: "candidate",
                            candidates: null,
                            departments: null,
                            candidate: "10014330",
                            department_college: "國立臺灣大學",
                            department_department: "醫學系",
                            back: [],
                        };
                    },
                    computed: {
                        colleges() {
                            return Object.keys(this.departments);
                        },
                        college_departments() {
                            return Object.keys(this.departments[this.department_college]);
                        },
                    },
                    methods: {
                        async load() {
                            let response = await fetch(`first_stage.json`);
                            let reader = response.body.getReader();
                            let content = 4300332; //+response.headers.get("Content-Length");
                            let received = 0;
                            let chunks = [];
                            while (true) {
                                const { done, value } = await reader.read();
                                if (done) break;

                                chunks.push(value);
                                received += value.length;

                                this.loading_progress = parseInt((received / content) * 100);
                            }
                            let chunksAll = new Uint8Array(received);
                            let position = 0;
                            for (let chunk of chunks) {
                                chunksAll.set(chunk, position);
                                position += chunk.length;
                            }
                            this.departments = JSON.parse(new TextDecoder("utf-8").decode(chunksAll));
                            this.candidates = this.convert_to_candidates(this.departments);
                            this.loading = false;
                        },
                        convert_to_candidates(first_stage) {
                            let result = {};

                            for (let [college, departments] of Object.entries(first_stage)) {
                                for (let [department, informations] of Object.entries(departments)) {
                                    informations.candidate.forEach((id) => {
                                        if (!result[id]) result[id] = [];
                                        result[id].push({
                                            college: college,
                                            department: department,
                                            department_code: informations.code,
                                        });
                                    });
                                }
                            }

                            return result;
                        },
                        department_mode(college, department) {
                            this.back.push({
                                mode: this.mode,
                                college: this.department_college,
                                department: this.department_department,
                                candidate: this.candidate,
                            });
                            this.department_college = college;
                            this.department_department = department;
                            this.mode = "department";
                        },
                        candidate_mode(candidate) {
                            this.back.push({
                                mode: this.mode,
                                college: this.department_college,
                                department: this.department_department,
                                candidate: this.candidate,
                            });
                            this.candidate = candidate;
                            this.mode = "candidate";
                        },
                        go_back() {
                            if (!this.back || !this.back.length) return;
                            let back = this.back.pop();
                            this.mode = back.mode;
                            this.department_college = back.college;
                            this.department_department = back.department;
                            this.candidate = back.candidate;
                        },
                    },
                    mounted() {
                        this.load();
                        this.mode = params.get("mode") || this.mode;
                        this.candidate = params.get("id") || this.candidate;
                        this.department_college = params.get("college") || this.department_college;
                        this.department_department = params.get("department") || this.department_department;
                        window.onpopstate = (evt) => {
                            app.go_back();
                        };
                    },
                    watch: {
                        mode(m) {
                            params.set("mode", m);
                            history.pushState({}, "個人申請一階查詢", `?${params.toString()}`);
                        },
                        candidate(c) {
                            params.set("id", c);
                            history.pushState({}, "個人申請一階查詢", `?${params.toString()}`);
                        },
                        department_college(c) {
                            params.set("college", c);
                            history.pushState({}, "個人申請一階查詢", `?${params.toString()}`);
                        },
                        department_department(d) {
                            params.set("department", d);
                            history.pushState({}, "個人申請一階查詢", `?${params.toString()}`);
                        },
                    },
                });

                document.querySelector("#app").style.display = "block";
            }
        </script>
        <style>
            * {
                position: relative;
            }
            html,
            body {
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                overflow: auto;
            }
            #app {
                font-size: 1.6rem;
            }
            td,
            th {
                text-align: right;
                padding: 3px;
            }
            input[type="number"] {
                text-align: left;
                width: 100%;
                border: 0;
                background-color: rgba(103, 164, 255, 0.3);
                border-radius: 5px;
            }

            .fade-enter-active,
            .fade-leave-active {
                transition: opacity 0.3s;
            }
            .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
                opacity: 0;
            }
        </style>
    </body>
</html>
